= form_for @message, html: {class: 'page-form'} do |f|
  - if @message.errors.any?
    .form-errors
      #error_explanation
        h3
          | #{t :common_error_message}
        ul
          - @message.errors.full_messages.each do |msg|
            li #{msg}
  .form-row
    label class="form-label" for="f-email" Ваш e-mail:
    = f.text_field :email, id: 'f-email', class: 'inp-text'
  .form-row
    label class="form-label" for="f-name" Ваше имя:
    = f.text_field :name, id: 'f-name', class: 'inp-text'
  .form-row
    label class="form-label" for="f-subj" Тема:
    = f.text_field :subject, id: 'f-subj', class: 'inp-text'
  .form-row
    label class="form-label" for="f-msg" Сообщение:
    = f.text_area :text, id: 'f-msg', class: 'inp-textarea', rows: 3
  .form-row-submit
    = f.submit 'ОТПРАВИТЬ', class: 'btn-submit'
    /button class="btn-submit" type="submit" name="commit" ОТПРАВИТЬ
  .clear-fix