doctype html
html
  head
    meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
  body
    h2= @message.subject
    br
    p= @message.text
    = render :partial =>'tourrest_mailer/footer'