- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content.html_safe

.page-block-wrap

  - if @river_cruise_cities.any?
    p
      strong Отправление из:
    = render :partial => 'river_cruise_city', collection: @river_cruise_cities

- if @page.pictures.any?
    #media
      .media-slides-container.space-bottom-25
        #media-slides
          .media-slides
            = render partial: 'river_cruises/picture', collection: @page.pictures
          .clear-fix
