- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span Речные круизы с отправлением из г. #{@river_cruise_city.name}

  - if @river_cruise_city.motor_ships.any?
    p.page-par
      = render partial: 'river_cruises/motor_ship', collection: @river_cruise_city.motor_ships

- if @page.pictures.any?
    #media
      .media-slides-container.space-bottom-25
        #media-slides
          .media-slides
            = render partial: 'river_cruises/picture', collection: @page.pictures
          .clear-fix