div
  p= link_to_if rest_for_children.url.present?, rest_for_children.name, rest_for_children.url, target: '_blank'
  .clear-fix

  - if rest_for_children.content.present?
    p== rest_for_children.content
hr