- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content.html_safe

.page-block-wrap


  - if @rest_for_children.any?
    = render @rest_for_children

  - if @pictures.any?
    #media
      .media-slides-container.space-bottom-25
        #media-slides
          .media-slides
            = render partial: 'rest_for_children/picture', collection: @pictures
          .clear-fix
