#beach_table
  -if Beach.all
    div#months
      = csrf_meta_tags
      = link_to '<', by_month_beach_rest_index_path(@calendar.prev), title: 'Назад', remote: true, class: "btn"
      '
      = Calendar.month_name(@calendar.current_month)
      '
      = link_to '>', by_month_beach_rest_index_path(@calendar.next), title: 'Вперед', remote: true, class: "btn"
      hr
  - if @beaches.present?
    table.page-table
      col.pt-col-f
        tr
          th rowspan="2" Страна
          th colspan="3" Вылет возможен из
          th rowspan="2" Виза
          th rowspan="2" Температура воды
          th rowspan="2" Температура воздуха
        tr
          th Москва
          th Пермь
          th Уфа
        - @beaches[@calendar.current_month].each do |b|
          tr
            td.first-col= b.country.try(:name)
            - if data = b.country.try(:specify_airlines)
              - data.each do |a|
                td.airlines== airlines_links(a)
            td= b.country.try(:visa)
            td= b.t_air
            td= b.t_water
