- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    == @page.content

.page-block-wrap
  ul
    li= link_to t('activerecord.models.school_bus_tour.other'), school_bus_tours_path
    li= link_to t('activerecord.models.school_train_tour.other'), school_train_tours_path
    li= link_to t('activerecord.models.school_overseas_tour.other'), school_overseas_tours_path