- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    == @page.content.html_safe

    - if @page.youtube_link.present?
      == youtubify(@page.youtube_video_ids)
    - if @page.pictures.any?
      #media
        .media-slides-container.space-bottom-25
          #media-slides
            .media-slides
              = render partial: 'pages/picture', collection: @page.pictures
            .clear-fix
      .clear-fix
