tr
  - tour_operator_url = excursion_tour.country.tour_operator.try(:url)
  td.first-col= link_to_if tour_operator_url, excursion_tour.country.name, tour_operator_url, target: '_blank'
  td= excursion_tour.country.visa
  td= human_boolean(excursion_tour.air?)
  td= human_boolean(excursion_tour.train?)
  td= human_boolean(excursion_tour.bus?)
  td= human_boolean(excursion_tour.ferry?)
  td= excursion_tour.preferred_time