- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content.html_safe

.page-block-wrap
  - if @excursion_tours.any?
    table.page-table
      col.pt-col-f
        tr
          th Страна
          th Виза
          th Авиа
          th Ж/д
          th Автобус
          th Паром
          th Время для экскурсий
        = render @excursion_tours
