.page-content-footer-push

.footer-wrap

  .m-grid-row.footer-row
    .m-grid-columns.width-1100.align-center.footer-columns-bg
      .m-grid-col.m-grid-col-right
        span.footer-copy-label.text-right.text-shadow &copy; Copyright Туризм и отдых #{Time.now.strftime('%Y')}
      .clear-fix

