#forecast.forecast
  - if @w_data
    .w-icon
      = image_tag(@w_data[:icon_path], alt: @w_data[:description])
    .w-params
      span#temp= "#{@w_data[:temp_min].floor} .. #{@w_data[:temp_max].floor} C."
      span#description
        | #{@w_data[:description]}
      span
        ' Ветер:
        span#wind #{I18n.t('wind_directions.' + @w_data[:wind_direction])} #{@w_data[:wind_speed]} м/с
      span#humidity
        ' Влажность:
        span #{@w_data[:humidity]}%
  - else
    .error Погодный сервис не доступен!
  .clear-fix