.m-grid-row.header-row
  .m-grid-columns.width-1200.align-center.header-columns-bg
    .m-grid-col.m-grid-col-left.logo-col-w
      div#site-logo
        a href="#{root_path}" title="Туризм и отдых"
          span#sub.text-shadow турагентство
          span#main.text-shadow Туризм и Отдых

      ul.menu-hr.header-menu
        li
          = active_link_to 'Главная', root_path, active: :inclusive
        li
          = active_link_to 'О нас', simple_page_path('about_us'), active: :inclusive
        li
          = active_link_to 'Контакты', simple_page_path('contacts'), active: :inclusive
        li
          = active_link_to 'Электронная заявка', new_message_path, active: ['messages']
    .m-grid-col.m-grid-col-right.contacts-col-w
      .contacts-wrap
        span.contact-itm.cont-city г. Чайковский
        span.contact-itm.cont-street ул. К. Маркса, 26
        span.contact-itm.cont-phone= '(34241) 3-29-34'
    .clear-fix