.column-title-bg
  span Услуги

ul.list-vr.column-list-menu.space-bottom-25
  li
    - if page = Page.find_by_code(:visa)
      = active_link_to page.name, visa_page_path, active: :inclusive
  - Settings.service_pages.each do |p|
    li
      -if page = Page.find_by_code(p)
        = active_link_to page.name, service_page_path(p), active: :inclusive