- if @slides.count > 0
  .column-title-bg
    span Новости
  .news-slides-container.space-bottom-25
    #news-slides
      .news-slides
        - @slides.each do |slide|
          div
            div#img
              = image_tag(slide.file.url, options = {alt: slide.title})
            div#description-bg.opacity
            div#description
              h3= slide.title
              -if slide.text
                = slide.text.html_safe


      .clear-fix