.m-grid-row.carousel-row
  .m-grid-columns.width-950.align-center
    .m-grid-col.m-grid-col-left
      .carousel-wrap

        .carousel-header.text-center
          span
            span Партнеры

        .carousel-container
          #partners-logos
            .carousel-item
              img src="/images/partners-logos/itm-11.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-3.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-4.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-5.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-6.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-7.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-8.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-9.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-10.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-1.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-12.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-13.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-14.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-15.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-16.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-17.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-18.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-19.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-20.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-21.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-22.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-23.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-24.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-25.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-26.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-27.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-28.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-29.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-30.png" alt=""
            .carousel-item
              img src="/images/partners-logos/itm-31.png" alt=""
          .clear-fix
          a class="carousel-item-prev" id="partners-logos-prev" href="#"
            span prev
          a class="carousel-item-next" id="partners-logos-next" href="#"
            span next

        .carousel-underline
    .clear-fix