.column-title
  span Курсы валют
table.currency-tbl
  col class="col-c-t"
  col class="col-c-v"
  tr
    td.currency-title
      span.usd Доллар США
    td.currency-value
      span #{@rates.nil? ?  '-' : @rates[:usd]} руб
  tr
    td class="currency-title"
      span.euro Евро
    td class="currency-value"
      span #{@rates.nil? ?  '-' : @rates[:eur]} руб
  tr
    td.currency-info colspan="2"
      span
        ' Дата:
        span #{@rates.nil? ?  '-' : @rates[:date]}
      br
      span
        ' Источник:
        span #{@rates.nil? ?  '-' : @rates[:source]}
