.column-title
  span Прогноз погоды
div class="weather-inform"
  - if @w_data
    .place_date
      = form_tag(weather_forecast_path, remote: true, id: 'weather_forecast')
        = select_tag 'city_name', options_for_select(@w_cities, @current_city), {include_blank: false, class: "w-place", :onchange=>'$("#weather_forecast").submit();' }
        = select_tag 'date', options_for_select(@dates,@current_date), {include_blank: false, class: "w-date", :onchange=>'$("#weather_forecast").submit();'}
      .clear-fix
    = render :partial => 'shared/forecast'

