.widget-wrap
  // http://vk.com/developers.php?oid=-1&p=Groups
  script type="text/javascript" src="//vk.com/js/api/openapi.js?87"></script>
  // VK Widget
  #vk_groups
    script type="text/javascript"
      | VK.Widgets.Group("vk_groups", {mode: 0, width: "235", height: "200"}, 16835376);
