.tile-set
  - @tiles.each_with_index do |t, i|
    .tile
      = link_to t[:path], title: t[:title] do
        = image_tag "tiles/tile-#{i + 1}.png", alt: t[:title]
        span.tile-title.text-center= t[:title]
  .clear-fix
