- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    == @page.content

- if @school_tours.any?
  .page-block-wrap
    = render partial: 'school_tours/school_tour', collection: @school_tours