- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @school_tour.name

  p.page-par== @school_tour.content
  - if @school_tour.price_file.present?
    p= link_to 'Скачать прайс-лист', @school_tour.price_file.url, target: '_blank'