- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content.html_safe

- if @camp_and_works.any?
  .page-block-wrap
    ul
      = render @camp_and_works
