- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content

  - if @page.pictures.any?
    #media
      .media-slides-container.space-bottom-25
        #media-slides
          .media-slides
            = render partial: 'pages/picture_wide', collection: @page.pictures
          .clear-fix