h1= @country.name
hr
= @country.visa_description
- if @country.visa_description.nil?
  p Информации пока нет.

- if @page.pictures.any?
  #media
    .media-slides-container.space-bottom-25
      #media-slides
        .media-slides
          = render partial: 'pages/picture', collection: @page.pictures
        .clear-fix
