- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    == @page.content

  -if @countries.any?
    #visa-list
      = render partial: 'country', collection: @countries

  - if @page.pictures.any?
    #media
      .media-slides-container.space-bottom-25
        #media-slides
          .media-slides
            = render partial: 'pages/picture', collection: @page.pictures
          .clear-fix
