- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content.html_safe

- if @sanatoria_regions.present?
  .page-block-wrap
    ul
      - @sanatoria_regions.each do |region|
        li= link_to region[:name], sanatorium_path(region[:id])