- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @bus_tour.name

  p.page-par== @bus_tour.content

- if @bus_tour.pictures.any?
  #media
    .media-slides-container.space-bottom-25
      #media-slides
        .media-slides
          = render partial: 'bus_tours/picture', collection: @bus_tour.pictures
        .clear-fix
