tr
  td.first-col= link_to_if krasnodar_tour.link.present?, krasnodar_tour.city.name, krasnodar_tour.link, target: '_blank'
  td= human_boolean(krasnodar_tour.air?)
  td= human_boolean(krasnodar_tour.train?)
  td= human_boolean(krasnodar_tour.bus?)
  td= human_boolean(krasnodar_tour.ferry?)
  td= krasnodar_tour.preferred_time