- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @page.name

  p.page-par
    = @page.content.html_safe

.page-block-wrap
  - if @active_rest.any?
    = render partial: 'active_rest/active_rest', collection: @active_rest