- title @page.title
- meta_description @page.description
- meta_keywords @page.keywords

.page-block-wrap
  h2.page-header-u
    span= @active_rest.name

  p.page-par== @active_rest.content
  - if @active_rest.price_file.present?
    = link_to 'Скачать прайс-лист', @active_rest.price_file.url, target: '_blank'

- if @active_rest.pictures.any?
  #media
    .media-slides-container.space-bottom-25
      #media-slides
        .media-slides
          = render partial: 'active_rest/picture', collection: @active_rest.pictures
        .clear-fix