.page-block-wrap

  h2.page-header-u
    span= @motor_ship.name

  p.page-par==@motor_ship.content

  - if @motor_ship.price_file.url
    hr
    = link_to 'Скачать прайс-лист', @motor_ship.price_file_url, target: '_blank'

    - unless @motor_ship.url.blank?
      '
      ' |
      = link_to 'Посмотреть на сайте', @motor_ship.url, target: '_blank'

- if @motor_ship.pictures.any?
  #media
    .media-slides-container.space-bottom-25
      #media-slides
        .media-slides
          = render partial: 'motor_ships/picture', collection: @motor_ship.pictures
        .clear-fix
