html, body {margin:0px; padding:0px;}

body {
	background-color:#fff;
    font-size: 14px;
}

div.page {
	/*font-family:Arial,sans-serif;*/
	color:#000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {margin:0px; padding:0px; border:0px none;}

h1, h2, h3, h4 {margin:0px; padding:0px; border:0px none;}

p {margin:0px; padding:0px; border:0px none;}

ul {margin:0px; border:0px none;}

img {margin:0px; padding:0px; border:0px none;}

form {margin:0px; padding:0px; border:0px none;}

teble {margin:0px; padding:0px; border:0px none;}

/*text aligns*/
.text-right {text-align:right;}
.text-left {text-align:left;}
.text-center {text-align:center;}

/*float fix*/
div.clear-fix {float:none; clear:both;}



/*~~~layout basics~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, body {height:100%;}

div.page {height:100%;}

div.page {position:relative;}

	div.page-content-wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -42px;
	}

	div.footer-wrap, div.page-content-footer-push {
		height: 42px;
	}


div.m-grid-row {position:relative; height:100%;}
div.m-grid-columns {position:relative; height:100%;}
	div.m-grid-col {position:relative;}
	div.m-grid-col-left {float:left;}
	div.m-grid-col-right {float:right;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




/*~~~list-hr~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.list-hr {list-style:none;}
.list-hr, .list-hr  li {display:block; position:relative; margin:0px; padding:0px; border:0px none;}
.list-hr > li {float:left;}

.list-hr {
	height:1.2em;
}
.list-hr li {
	padding:4px 4px 4px 4px;
}
.list-hr li {
	/*font-family:Arial,sans-serif;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
	color:#000;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~list-vr~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.list-vr {list-style:none;}
.list-vr, .list-vr li {display:block; position:relative; margin:0px; padding:0px; border:0px none;}

.list-vr li {
	padding:4px 4px 4px 4px;
}
.list-vr li {
	/*font-family:Arial,sans-serif;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
	color:#000;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~menu-hr~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.menu-hr {list-style:none;}
.menu-hr, .menu-hr li, .menu-hr a, .menu-hr span {display:block; position:relative; margin:0px; padding:0px; border:0px none;}
.menu-hr > li {float:left;}

.menu-hr {
	height:24px;
	border:1px solid #a1a1a1;
	background-color:#bbb;
}
.menu-hr li > a, .menu-hr li > span {
	padding:4px 4px 4px 4px;
}
.menu-hr li > a, .menu-hr li > span  {
	/*font-family:Arial,sans-serif;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
	color:#fff;
	text-decoration:none;
}
.menu-hr li > a:hover, .menu-hr li > span:hover {
	text-decoration:underline;
	background-color:#69f;
	cursor:pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/