body {
    background-color: #fff;
    background-image: url('../images/body-bg.png');
}

div.page {
    /*font-family: Georgia, 'Times New Roman', Times, serif !important;*/
    font-family: Times New Roman, Georgia, serif;
    font-size: 1.1em;
    color: #000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.min-width-1200 {
    min-width: 1200px
}

div.width-1200 {
    width: 1200px;
}

div.width-1100 {
    width: 1100px;
}

div.width-950 {
    width: 950px;
}

div.width-980 {
    width: 980px;
}

div.align-center {
    margin: 0 auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.space-top-25 {
    margin-top: 25px;
}

.space-bottom-25 {
    margin-bottom: 25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.page-content-wrap {
    margin: 0 auto -105px;
}

div.footer-wrap, div.page-content-footer-push {
    height: 105px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.header-row {
    height: 290px;
    background: #682525 url('../images/header-row-bg.png') top left repeat-x;
}

div.header-columns-bg {
    height: 290px;
    background: url('../images/header-columns-bg.png') top right no-repeat;
}

div.logo-col-w {
    width: 720px;
}

div.contacts-col-w {
    width: 480px;
}

div#site-logo {
    display: block;
    position: relative;
    width: 520px;
    height: 145px;
    margin: 30px 0 0 125px;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    /*background:url('../images/site-logo.png') top center no-repeat;*/
}

div#site-logo a {
    font: "Times New Roman" !important;
    color: #ffffff !important;
    text-decoration: none !important;
    position: absolute !important;
    top: 35px !important;
}

div#site-logo a span#main {
    display: block !important;
    font-size: 3.8em !important;
    line-height: 43px;
    font-weight: bolder;
}

div#site-logo a span#sub {
    color: orange !important;
    font-weight: bolder;
    font-size: 1.3em;
    padding-left: 50px;
    line-height: 5px;
}

.text-shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

a.site-logo {
    display: block;
    position: relative;
    width: 370px;
    height: 145px;
    background: url('../images/site-logo.png') top center no-repeat;
}

a.site-logo > span {
    display: none;
}

div.contacts-wrap {
    position: relative;
    width: 400px;
    height: 85px;
    margin: 70px 0 0 5px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

span.contact-itm {
    display: block;
    position: absolute;
}

span.cont-city {
    top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    line-height: 20px;
    color: #e1ac09;
}

span.cont-street {
}

span.cont-street {
    top: 10px;
    left: 190px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    line-height: 20px;
    color: #fff;
}

span.cont-phone {
    top: 55px;
    left: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.3em;
    line-height: 27px;
    color: #fff;
}

ul.header-menu {
    margin: 68px 0 0 105px;
}

ul.header-menu {
    height: 30px;
    border: 0px none;
    background-color: transparent;
}

ul.header-menu li > a, ul.header-menu li > span {
    padding: 4px 25px 4px 20px;
}

ul.header-menu li > a, ul.header-menu li > span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    font-weight: 700;
    color: #5a1717;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
}

ul.header-menu li > a.active {
    font-size: 1.05em;
    text-decoration: underline !important;
}

.old-ie ul.header-menu li > a, .old-ie ul.header-menu li > span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

ul.header-menu li > a:hover, ul.header-menu li > span:hover {
    color: #731515;
    text-decoration: none;
    background-color: transparent;
}

ul.header-menu li {
    background: url('../images/header-menu-sep.png') right center no-repeat;
}

ul.header-menu li:last-child {
    background: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.content-row {
}

div.left-cont-col-w {
    width: 200px;
}

div.center-cont-col-w {
    width: 515px;
}

div.right-cont-col-w {
    width: 235px;
}

div.page-cont-col-w {
    width: 715px;
}

div.left-cont-wrap {
    margin: 45px 0 30px 0;
}

div.center-cont-wrap {
    margin: 45px 20px 30px 20px;
}

div.right-cont-wrap {
    margin: 45px 0 30px 0;
}

div.center-cont-wrap-type-1 {
    margin: 15px 20px 30px 20px;
}

div.center-cont-wrap-type-2 {
    margin: 15px 20px 30px 0;
}

a {
    color: #0084ff;
}

a:visited {
    color: #682525;
}

div.column-title-bg {
    position: relative;

    height: 52px;
    background: #782020 url('../images/col-title-bg.png') top right no-repeat;
    border-bottom: 5px solid #fff;

    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

    behavior: url('css/pie/PIE.htc');
    font-size: 1.3em;
    /*behavior: url('css/pie/PIE.php');*/
}

div.column-title-bg span {
    display: block;
    padding: 14px 0 0 18px;
}

div.column-title-bg span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #fff;
}

.old-ie div.column-title-bg span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

div.column-title {
    position: relative;

    border-bottom: 2px solid #8a4a21;
}

div.column-title span {
    display: block;
    /*padding: 12px 10px 4px 2px;*/
}

div.column-title span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #461919;
}

.old-ie div.column-title span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul.column-list-menu li {
    padding: 0px;
}

ul.column-list-menu li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
}

ul.column-list-menu li {
    background-color: #e1d5c0;
    border-bottom: 2px solid #d6a81e;
}

ul.column-list-menu li a {
    display: block;
    padding: 16px 10px 16px 24px;
    border-left: 4px solid #431818;
    background: url('../images/col-list-ico.png') 4px 18px no-repeat;
}

ul.column-list-menu li a.active {
    text-decoration: underline;
    font-weight: bold;
}

ul.column-list-menu li a {
    color: #3e1111;
    text-decoration: none;
}

ul.column-list-menu li a:hover {
    text-decoration: underline;
}

table.currency-tbl {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 0.8em;
}

table.currency-tbl th {
    border: none !important;
}
.col-c-t {
    width: 120px;
}

.col-c-v {
    width: 80px;
}

table.currency-tbl td {
    padding-top: 9px;
    padding-bottom: 3px;
    border: none !important;
}

table.currency-tbl td {
    color: #000;
}

td.currency-title {
    border-bottom: 1px solid #cccccb;
    text-align: left;
}

td.currency-title span {
    padding: 0 0 0 28px;
}

td.currency-title span.usd {
    background: url('../images/usa-f.png') left center no-repeat;
}

td.currency-title span.euro {
    background: url('../images/es-f.png') left center no-repeat;
}

td.currency-value {
    border-bottom: 1px solid #ddcccb;
    text-align: right;
}

td.currency-value span {
    color: #ed8b2b;
}

td.currency-info span {
    font-weight: 700;
    color: #461919;
}

.old-ie td.currency-info span {
    font-weight: bold;
}

td.currency-info span > span {
    line-height: 14px;
    font-weight: 400;
    color: #ed8b2b;
}

.old-ie td.currency-info span > span {
}

/*--- media slider---*/
div#media .column-title-bg{
    height: 20px !important;
}
div#media div.media-slides-container {
    display: block;
    position: relative;
    margin-top: 25px;
}

div#media div.media-slides {
    width: 100%;
    height: 235px;
    margin: 0 auto;
    overflow: hidden;
}
div#media div.media-slides div#short-block {
    width: 475px;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
}

div#media div.media-slides div#short-block img{

}

div#media div.media-slides img {
    max-width:100%;
    max-height:100%;
    height: 235px;
    border: 0px none;
    z-index: 500;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
}

div#media div#media-slides .ul-container {
    display: block;
    border-top: 4px solid #fff;
    background: #ed8b2b;
    height: 20px;
    width: 100%;
}
div#media div#media-slides ul {
    height: 8px;
    width: 15%;
    min-width: 20px;
    padding: 6px 0 6px 0;
    margin: 0 auto !important;
}

div#media div#media-slides ul li {
    padding: 0px;
    width: 8px;
    height: 8px;
    background: url('../images/news-slides-ctrl-spr.png') 0px 0px no-repeat;
    margin: 0 2px 0 2px;
}

div#media div#media-slides ul li.current {
    background: url('../images/news-slides-ctrl-spr.png') -8px 0px no-repeat;
}

div#media div#media-slides ul li a {
    display: block;
    width: 8px;
    height: 8px;
}

div#media div#media-slides ul a > span {
    display: none;
}
/*--- end of media slider---*/

div.news-slides-container {
    display: block;
    position: relative;
}

div.news-slides {
    width: 235px;
    height: 235px;
    margin: 0 auto;
    overflow: hidden;
}

div.news-slides img {
    width: 235px;
    height: 235px;
    border: 0px none;
    z-index: 500;
}

div#news-slides ul {
    border-top: 4px solid #fff;
    background: #ed8b2b;
}

div#news-slides ul {
    height: 8px;
    padding: 6px 0 6px 102px;
}

div#news-slides ul li {
    padding: 0px;
    width: 8px;
    height: 8px;
    background: url('../images/news-slides-ctrl-spr.png') 0px 0px no-repeat;
    margin: 0 2px 0 2px;
}

div#news-slides ul li.current {
    background: url('../images/news-slides-ctrl-spr.png') -8px 0px no-repeat;
}

div#news-slides ul li a {
    display: block;
    width: 8px;
    height: 8px;
}

div#news-slides ul a > span {
    display: none;
}

div#news-slides div#description {
    margin: 0 !important;
    z-index: 9999 !important;
    min-height: 40%;
    height: 40%;
    max-width: 220px !important;
    padding: 0 10px;
    position: absolute;
    top: 0;
}

div#news-slides div#description-bg {
    margin: 0 !important;
    z-index: 9999 !important;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
}

.opacity {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(20%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#00ffffff', GradientType = 0); /* IE6-8 */
}

div#news-slides div#img {
}

div#news-slides div#description h3 {
    color: #682525;
}

div#news-slides div#description p {
    padding-top: 10px;
    max-width: 220px !important;
    word-wrap: break-word;
    padding-bottom: 10px;
}

div#gallery-item {
    margin: 10px 10px 0 0;
    float: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

div#gallery-item a img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #ed8b2b;
    background: #ed8b2b;
}

div#gallery-item a img:hover {
    -moz-box-shadow: 0 0 20px #FFDB6E;
    -webkit-box-shadow: 0 0 20px #FFDB6E;
    box-shadow: 0 0 20px #FFDB6E;
}

div.weather-inform {
    position: relative;
    font-size: 0.8em;
}

div.place_date {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddcccb;
}

div.place_date span.select {
    display: block;
    border-bottom: 1px #8b4513 !important;
}

div.place_date select.w-place {
    float: left;
    border: none !important;
    background: none !important;
}

div.place_date select.w-date {
    float: right;
    border: none !important;
    background: none !important;
}

div.place_date a {
    line-height: 14px;
    color: #461919;
}

div.forecast {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddcccb;
}

div.forecast div.w-icon {
    float: left;
    width: 70px;
    height: 70px;
    padding: 5px;
}

div.forecast div.w-icon img {
    width: 80px;
    height: 80px;
}

div.forecast div.w-params {
    float: left;
    width: 135px;
    height: 80px;
    padding: 5px 5px 5px 10px;
}

div.forecast div.w-params > span {
    display: block;
}

div.forecast div.w-params  span {
    line-height: 18px;
    font-weight: 700;
    color: #461919;
}

.old-ie div.forecast div.w-params  span {
}

div.forecast div.w-params span > span {
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 18px;
    font-weight: 400;
    color: #ed8b2b;
}

.old-ie div.forecast div.w-params span > span {
}

div.widget-wrap {
    position: relative;
}

div.tile-set {
    position: relative;
}

div.tile {
    position: relative;
    float: left;
    width: 122px;
    height: 122px;
    margin: 0 17px 17px 17px;
    background: #e6dac5;
    border: 1px solid #d6a81e;
}

div.tile:hover {
    cursor: pointer;
    border: 1px solid #ed8b2b;
    background: #ed8b2b;
    -moz-box-shadow: 0 0 20px #FFDB6E;
    -webkit-box-shadow: 0 0 20px #FFDB6E;
    box-shadow: 0 0 20px #FFDB6E;
}

div.tile img {
    width: 122px;
    height: 122px;
}

div.tile, div.tile img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    behavior: url('css/pie/PIE.htc');
    /*behavior: url('css/pie/PIE.php');*/
}

span.tile-title {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 114px;
    padding: 0 4px 8px 4px;
}

span.tile-title {
    line-height: 16px;
    color: #682525;
}

span.tile-title a {
    color: #682525;
    text-decoration: none;
}

/*span.tile-title a:hover {
    text-decoration:underline;
}*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~inside content~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.page-block-wrap {
    position: relative;
}

ul.page-crumbs {
    margin-bottom: 5px;
    padding-bottom: 7px;
}

ul.page-crumbs a, ul.page-crumbs span {
    /*font-family:Arial,sans-serif;*/
    /*font-family: Georgia, 'Times New Roman', Times, serif;*/
    line-height: 1em;
}

ul.page-crumbs a {
    padding: 0 18px 0 0;
    background: url('../images/crumbs-arr.png') right center no-repeat;
}

ul.page-crumbs a {
    color: #682525;
}

ul.page-crumbs span {
    color: #d6a71c;
}

h2.page-header-u {
    position: relative;
    border-bottom: 2px solid #8a4a21;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.6em;
}

h2.page-header-u span {
    display: block;
    padding: 12px 10px 4px 2px;
}

h2.page-header-u span {
    line-height: 26px;
    font-weight: 700;
    color: #682525;
}

.old-ie h2.page-header-u span {
    font-weight: bold;;
}

p.page-par {
    margin-bottom: 15px;
    color: #373737;
    text-align: justify;
}

div#notice {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #9acd32;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url('css/pie/PIE.htc');
}

div#alert {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: #cd5c5c;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url('css/pie/PIE.htc');
}

.form-errors {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 18px;
    color: #cd5c5c;

}

.form-errors ul {
    padding: 15px !important;
    margin-left: 0;
}

h2.page-header {
    position: relative;
    margin-bottom: 15px;
}

h2.page-header span {
    display: block;
    padding: 12px 10px 4px 2px;
}

h2.page-header span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 26px;
    font-weight: 400;
    color: #682525;
}

table.page-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #d6a920;
    margin-bottom: 15px;
}

.pt-col-f {
    width: 145px;
}

table.page-table {
    line-height: 14px;
    color: #461919;
    font-size: 1em;
}

table.page-table th {
    padding: 10px 10px;
    border: 1px solid #d6a920;
    background-color: #e1d5c0;
    font-size: 0.8em;
}

table.page-table td {
    padding: 10px 10px;
    border: 1px solid #d6a920;
}

table.page-table td {
    text-align: center;
}

table.page-table td.first-col {
    text-align: left;
}

table.page-table td.airlines a{
    font-size: 0.8em;
}

form.page-form {
    padding: 10px 25px;
    border: 1px solid #682525;
    background-color: #e1d5c0;
    margin-bottom: 15px;
}

form.page-form {
    line-height: 14px;
    color: #461919;
}

form.page-form div.form-row {
    padding: 5px 0 5px 0;
}

form.page-form label.form-label {
    display: block;
    float: left;
    width: 80px;
    padding: 0 8px 5px 0;
    font-size: 0.8em !important;
}

form.page-form input.inp-text {
    width: 328px;
    padding: 2px;
    border: 1px solid #682525;
}

form.page-form textarea.inp-textarea {
    width: 328px;
    max-width: 328px !important;
    height: 100px;
    padding: 2px;
    border: 1px solid #682525;
}

form.page-form div.form-row-submit {
    padding: 12px 0 8px 0;
}

form.page-form button.btn-submit {
    display: block;
    padding: 5px 20px;
    border: 2px solid #fff;
    background: #9c4141;
    cursor: pointer;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    behavior: url('css/pie/PIE.htc');
    /*behavior: url('css/pie/PIE.php');*/
}

form.page-form button.btn-submit {
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
}

.old-ie form.page-form button.btn-submit {
    font-weight: bold;
}

div#months{
    color: #682525;
    font-weight: bold;
}

div#months a{
    color: #f5f5f5 !important;
    font-weight: bold;
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 3px 10px;
    border: 2px solid #fff;
    background: #E5D5BE;
    cursor: pointer;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~carousel~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.carousel-row {
}

div.carousel-wrap {
    margin: 10px 0 5px 0;
}

div.carousel-header {
    position: relative;
    height: 35px;
    padding: 10px 0 0 0;
    margin: 0 0 4px 0;
    background-color: #782020;
}

div.carousel-header {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

    behavior: url('css/pie/PIE.htc');
    /*behavior: url('css/pie/PIE.php');*/
}

div.carousel-header > span {
    display: block;
    width: 350px;
    margin: 0 auto;
}

div.carousel-header > span {
    line-height: 26px;
    color: #fff;
}

div.carousel-header > span {
    background: url('../images/infi-l.png') left center no-repeat;
}

div.carousel-header > span > span {
    display: block;
}

div.carousel-header > span > span {
    background: url('../images/infi-r.png') right center no-repeat;
}

div.carousel-underline {
    position: relative;
    height: 2px;
    margin-top: 5px;
    background-color: #682525;
}

div.carousel-container {
    display: block;
    position: relative;
    padding: 15px 45px 15px 44px;
    background: #fff;
}

div.carousel-item {
    float: left;
    width: 165px;
    height: 100px;
    margin: 0 3px 0 3px;
}

a.carousel-item-prev {
    display: block;
    position: absolute;
    width: 19px;
    height: 65px;
    top: 35px;
    left: 10px;
    background: url('../images/carousel-ctrl-spr.png') 0px -66px no-repeat;
}

a.carousel-item-next {
    display: block;
    position: absolute;
    width: 19px;
    height: 65px;
    top: 35px;
    right: 10px;
    background: url('../images/carousel-ctrl-spr.png') -20px 0px no-repeat;
}

a.carousel-item-prev:hover {
    background: url('../images/carousel-ctrl-spr.png') 0px -132px no-repeat;
}

a.carousel-item-next:hover {
    background: url('../images/carousel-ctrl-spr.png') -20px -132px no-repeat;
}

a.carousel-item-prev.disabled {
    background: url('../images/carousel-ctrl-spr.png') 0px 0px no-repeat;
    cursor: default;
}

a.carousel-item-next.disabled {
    background: url('../images/carousel-ctrl-spr.png') -20px -66px no-repeat;
    cursor: default;
}

a.carousel-item-prev span, a.carousel-item-next span {
    display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

div.footer-row {
    height: 105px;
    background: #682525 url('../images/footer-row-bg.png') top left repeat-x;
}

div.footer-columns-bg {
    height: 105px;
    background: url('../images/footer-columns-bg.png') bottom left no-repeat;
}

span.footer-copy-label {
    display: block;
    width: 270px;
    margin: 38px 75px 0 0;
}

span.footer-copy-label {
    line-height: 16px;
    color: #fff;
}

/*~~~~~~~~*/


/*----Tables----*/
table {
    line-height: 14px;
    color: #461919;
    font-size: 1em;
}

table th {
    padding: 10px 10px;
    border: 1px solid #d6a920;
    background-color: #e1d5c0;
    font-size: 0.8em;
}

table td {
    padding: 10px 10px;
    border: 1px solid #d6a920;
}

table td {
    text-align: center;
}

table td.first-col {
    text-align: left;
}

table td.airlines a{
    font-size: 0.8em;
}
/*----end tables----*/

#beach_table a{
    text-decoration: none !important;
}
