var forecast = document.getElementById('forecast');
var html = "<%=j render partial: 'shared/forecast', object: @w_data, as: :w_data %>"
$("#forecast").replaceWith('<%= render partial: 'shared/forecast', object: @w_data, as: :w_data %>')
