doctype html
html
  head
    meta charset="utf-8"
    //title Туризм и отдых
    title= title
    meta name="keywords" content="#{meta_keywords}"
    meta name="description" content="#{meta_description }"
    = csrf_meta_tags

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
  //<[if lte IE 8]>body.old-ie<![endif]
  //<[if gt IE 8]>body<![endif]-->
  //[if !IE]>-->body<!--<![endif]
  body
    .page.min-width-1200
      .page-content-wrap

        = render 'shared/header'

        .m-grid-row.content-row
          .m-grid-columns.width-950.align-center
            .m-grid-col.m-grid-col-left.left-cont-col-w
              .left-cont-wrap
                = render 'menu'
                = render 'shared/rate_of_exchange'

            .m-grid-col.m-grid-col-left.center-cont-col-w
              .center-cont-wrap
                = render 'shared/flash', flash: flash
                = yield

            .m-grid-col.m-grid-col-left.right-cont-col-w
              .right-cont-wrap
                = render 'shared/news'
                = render 'shared/weather'
                = render 'shared/widget'
            .clear-fix

        = render 'shared/partners'
        = render 'shared/footer'
